<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.WhyNotDoctor"
        tools:targetApi="31">
        <activity android:name=".MainActivity"></activity>

        <activity android:name=".DoctorListActivity"></activity>
        <activity android:name=".listFeatures.LabtestListActivity"></activity>
        <activity android:name=".MedicineListActivity"></activity>
        <activity android:name=".OrderListActivity"></activity>
        <activity android:name=".AptListActivity"></activity>

        <activity android:name=".Doctordetails"></activity>
        <activity android:name=".Medicinedetail"></activity>
        <activity android:name=".Labtestdetails"></activity>
        <activity android:name=".admin.HomeAdmin"></activity>

        <activity android:name=".admin.DeleteDoctor"></activity>

        <activity android:name=".admin.AddMedicine"></activity>
        <activity android:name=".admin.AddDoctor"></activity>
        <activity android:name=".admin.AddLabtest"></activity>

        <activity android:name=".Confirmation"></activity>
        <activity android:name=".ConfirmMedicine"></activity>

        <activity android:name=".UpdateInfo"></activity>
        <activity android:name=".slider.IntroSliderActivity"/>
        <activity android:name=".LoginSignupActivity"></activity>

        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>